*
{
	box-sizing: border-box;
}

body {
	z-index: -999;
	background-image: url('./BackGround.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.container {
	height: 100vh;
	width: 100%;
	display: block;
	position: fixed;
}

.title {
	z-index: -1;
	height: 20%;
	width: 80%;
	margin: auto;
	text-align: center;
}

.title {
	font-style: italic;
	font-family: 'Times New Roman', Times, serif;
}

.title span {
	font-size: 50px;
	padding: 0;
	padding-bottom: 15px;
	color: yellow;
}

.title p {
	font-size: 30px;
	margin-block: 15px;
	margin-inline: 5px;
	margin: 4px;
	color: brown;
}

.container .game {
	margin: 30px 10px 20px 10px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	display: block;
}

.box {
	border: 2px solid black;
	background-color: yellow;
	height: 80%;
	width: 70%;
	margin: 0;
	padding: 5px;
}

.block {
	height: calc(100%/8);
	width: 100%;
	background-color: pink;
}

.getInput {
	height: 50px;
	width: 50px;
	z-index: 999;
	float: left;
	margin: 5px;
	background-color: whitesmoke;
	border: 3px solid black;
	font-variant: small-caps;
	font-weight: 900;
	font-size: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	outline: none;
}

.getInput:disabled {
	color: black;
}

.sbutton {
	height: 50px;
	width: 50px;
	z-index: 999;
	float: left;
	margin: 5px;
	background-color: chocolate;
	border-radius: 0 10px 10px 0;
	color: rgb(1, 39, 39);
	font-family: 'Times New Roman', Times, serif;
	font-size: 20px;
}

.sbutton:active {
	transform: scale(0.96);
	transform: translateX(5px);
}

.getInput:focus {
	background-color: rgb(225, 142, 34);
}